// Settings
//

// Inherit from original theme
@import '~@s-ui/theme/lib/index';
@import '~@adv-ui/adv-theme/lib/index';

// Load font
@import url('https://fonts.googleapis.com/css?family=Roboto:#{$fw-light},#{$fw-regular},#{$fw-regular}i,#{$fw-semi-bold},#{$fw-bold},#{$fw-bold}i');

$bg-secondary: #f7f7f8 !default;

@import './components/transitionContainer/index.scss';
@import './components/button/index.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  color: $c-text-base;
  font-family: $ff-sans-serif;
  font-size: $fz-body;
  line-height: $lh-m;
  margin: 0;
  padding: 0;
}

.layout {
  max-width: 1280px;
  margin: 0 auto;
  padding: $p-xl;
  position: relative;
  background: $bg-secondary;
}

.navigator {
  display: flex;
  gap: $m-l;
}

.transitionsContainer {
  display: grid;
  padding: $p-giant $p-giant;
  row-gap: $m-xl;
  background: $c-white;
  border-radius: $bdrs-l;
  grid-template-columns: repeat(5, 1fr);
}
